.theater{
	/*background-image: url("../imagesHang/Theater.jpg");*/
	/*opacity: 0.2;*/
	font:black;
	
}
	

.center {
	text-align: center;
}

.gameBox {
	border-width: 2px;
	border-color: blue;
}


.wordDisplay {
	font-size: 300%;
}

.winner {


}